# Part 1

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import matplotlib as mplib
import matplotlib.pyplot as plt
import seaborn as sns
import PandaSurvey
import weightedcalcs as wc

/Users/Ariel/Desktop/NYU/Summer 2021/Policy and Data Studio/Repos/Ariel_Medex/env/lib/python3.9/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Dowloading the Data

[Link to csv file](https://www.dropbox.com/s/wuukgsjwrxzr89h/001usa_00003.csv?dl=0) - save in the base directory of your local copy of the repository

# Reading in the Data

In [4]:
df = pd.read_csv('001usa_00003.csv')

## Data Overview

In [5]:
df.columns

Index(['YEAR', 'SAMPLE', 'SERIAL', 'CBSERIAL', 'HHWT', 'CLUSTER', 'CPI99',
       'STATEICP', 'COUNTYICP', 'PUMA', 'STRATA', 'GQ', 'PERNUM', 'PERWT',
       'SEX', 'AGE', 'RACE', 'RACED', 'HISPAN', 'HISPAND', 'CITIZEN',
       'YRSUSA2', 'HINSEMP', 'HINSPUR', 'HINSCAID', 'EMPSTAT', 'EMPSTATD',
       'INCTOT', 'POVERTY'],
      dtype='object')

In [6]:
df.describe

<bound method NDFrame.describe of         YEAR  SAMPLE  SERIAL       CBSERIAL   HHWT        CLUSTER  CPI99  \
0       2009  200901  816419             89  150.0  2009008164191  0.777
1       2009  200901  816422            147  213.0  2009008164221  0.777
2       2009  200901  816422            147  213.0  2009008164221  0.777
3       2009  200901  816422            147  213.0  2009008164221  0.777
4       2009  200901  816422            147  213.0  2009008164221  0.777
...      ...     ...     ...            ...    ...            ...    ...
237142  2019  201901  923328  2019001412405   72.0  2019009233281  0.652
237143  2019  201901  923328  2019001412405   72.0  2019009233281  0.652
237144  2019  201901  923328  2019001412405   72.0  2019009233281  0.652
237145  2019  201901  923328  2019001412405   72.0  2019009233281  0.652
237146  2019  201901  923331  2019001412438   94.0  2019009233311  0.652

        STATEICP  COUNTYICP  PUMA  ...  HISPAND  CITIZEN  YRSUSA2  HINSEMP  \
0             13        810  4101  ...        0        2        5        2
1             13        470  4015  ...        0        3        2        1
2             13        470  4015  ...        0        3        2        1
3             13        470  4015  ...        0        3        2        1
4             13        470  4015  ...        0        3        2        1
...          ...        ...   ...  ...      ...      ...      ...      ...
237142        13        470  4003  ...        0        0        0        1
237143        13        470  4003  ...        0        0        0        1
237144        13        470  4003  ...        0        0        0        1
237145        13        470  4003  ...        0        0        0        1
237146        13         50  3706  ...        0        0        0        1

        HINSPUR  HINSCAID  EMPSTAT  EMPSTATD   INCTOT  POVERTY
0             1         2        1        10     3800       33
1             1         2        1        10    15000       93
2             1         2        3        30        0       93
3             1         2        0         0        0       93
4             1         2        0         0  9999999       93
...         ...       ...      ...       ...      ...      ...
237142        1         2        3        30        0       53
237143        1         2        0         0  9999999       53
237144        1         2        0         0  9999999       53
237145        1         2        0         0  9999999       53
237146        1         2        1        10     1400       54

[237147 rows x 29 columns]>

In [7]:
df.columns

Index(['YEAR', 'SAMPLE', 'SERIAL', 'CBSERIAL', 'HHWT', 'CLUSTER', 'CPI99',
       'STATEICP', 'COUNTYICP', 'PUMA', 'STRATA', 'GQ', 'PERNUM', 'PERWT',
       'SEX', 'AGE', 'RACE', 'RACED', 'HISPAN', 'HISPAND', 'CITIZEN',
       'YRSUSA2', 'HINSEMP', 'HINSPUR', 'HINSCAID', 'EMPSTAT', 'EMPSTATD',
       'INCTOT', 'POVERTY'],
      dtype='object')

# Data Cleaning for Income

## Removing Null Values

In [8]:
df["INCTOT"].replace({9999999: np.nan}, inplace=True) #removing coded variable for no income information

In [9]:
df1 = df[df['INCTOT'].notna()]

## Adding Adjusted Income Variable for Inflation

In [10]:
df1['ADJINC'] = df1['INCTOT']*df1['CPI99'] # Adjusting all dollars to 1999 dollars to account for inflation

<ipython-input-10-a1bc04c37851>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['ADJINC'] = df1['INCTOT']*df1['CPI99'] # Adjusting all dollars to 1999 dollars to account for inflation

# New Dataset for Export

In [11]:
df1.to_csv('002usa_00003.csv')

Exporting Dataset for Part 3

In [12]:
df1.to_csv('003usa_00003.csv')