In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/Ariel/Desktop/cps_00001.csv')

In [3]:
df.shape

(4372482, 109)

In [4]:
df.head()

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,...,HINTAKE3,HINTAKE4,HINTAKE5,HINTAKE6,HINTAKE7,HINTAKE8,HIOFFER,KIDCAID,GOTWIC,KIDCNEED
0,2009,1,3,NaN,20071202814500,1.0,NaN,534.34,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2009,1,3,NaN,20071202814500,1.0,NaN,534.34,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2,2009,2,3,NaN,20071202885100,1.0,NaN,546.24,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
3,2009,2,3,NaN,20071202885100,1.0,NaN,546.24,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,2009,3,3,NaN,20071202862500,1.0,NaN,287.76,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [12]:
h = 0
for i in (df['MOCAID'] == 2):
    if i:
        h += 2

In [13]:
h

7322

In [22]:
j = 0
for i in (df['HIMCAIDNW'] == 1):
    if i:
        j += 1

In [23]:
j

277730

In [30]:
MCAID_df = df[df['HIMCAIDLY'] == 2]

In [31]:
MCAID_df.groupby('YEAR').count()

,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,CPSIDP,...,HINTAKE3,HINTAKE4,HINTAKE5,HINTAKE6,HINTAKE7,HINTAKE8,HIOFFER,KIDCAID,GOTWIC,KIDCNEED
YEAR,,,,,,,,,,,,,,,,,,,,,
2009,30903,30903,0,30903,30903,0,30903,30903,0,30903,...,0,0,0,0,0,0,0,30903,30903,30903
2010,34735,34735,0,34735,34735,0,34735,34735,0,34735,...,0,0,0,0,0,0,0,34735,34735,34735
2011,34267,34267,0,34267,34267,0,34267,34267,0,34267,...,0,0,0,0,0,0,0,34267,34267,34267
2012,34865,34865,0,34865,34865,0,34865,34865,0,34865,...,0,0,0,0,0,0,0,34865,34865,34865
2013,35340,35340,0,35340,35340,0,35340,35340,0,35340,...,0,0,0,0,0,0,0,35340,35340,35340
2014,36907,36907,0,36907,36907,36907,36907,36907,0,36907,...,36907,36907,36907,36907,36907,36907,36907,36907,36907,36907
2015,40673,40673,0,40673,40673,0,40673,40673,0,40673,...,40673,40673,40673,40673,40673,40673,40673,40673,40673,40673
2016,38746,38746,0,38746,38746,0,38746,38746,0,38746,...,38746,38746,38746,38746,38746,38746,38746,38746,38746,38746
2017,38713,38713,0,38713,38713,0,38713,38713,0,38713,...,38713,38713,38713,38713,38713,38713,38713,38713,38713,38713
2018,36563,36563,0,36563,36563,0,36563,36563,0,36563,...,36563,36563,36563,36563,36563,36563,36563,36563,36563,36563
2019,34125,34125,0,34125,34125,0,34125,34125,0,34125,...,34125,34125,34125,34125,34125,34125,34125,0,34125,34125
2020,28258,28258,0,28258,28258,0,28258,28258,0,28258,...,28258,28258,28258,28258,28258,28258,28258,0,28258,28258

In [34]:
MCAID_df = df[['HIMCAIDLY', 'YEAR', 'AGE']]

In [36]:
MC_df = MCAID_df[MCAID_df['HIMCAIDLY'] == 2]

In [37]:
MC_df.groupby('YEAR').count()

      HIMCAIDLY    AGE
YEAR
2009      30903  30903
2010      34735  34735
2011      34267  34267
2012      34865  34865
2013      35340  35340
2014      36907  36907
2015      40673  40673
2016      38746  38746
2017      38713  38713
2018      36563  36563
2019      34125  34125
2020      28258  28258

In [38]:
MCAID_df.groupby('YEAR').mean('AGE')

      HIMCAIDLY        AGE
YEAR
2009   1.148629  34.540234
2010   1.165561  34.609703
2011   1.167170  35.021807
2012   1.173115  35.361727
2013   1.174403  35.535340
2014   1.184946  35.859954
2015   1.204362  36.032077
2016   1.208888  36.173700
2017   1.208231  36.555891
2018   1.203033  36.951645
2019   1.204313  39.255139
2020   1.192974  40.808222
2021        NaN  40.891972