In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('/Users/Ariel/Desktop/pppub19.csv')

print

In [9]:
df.columns

Index(['PERIDNUM', 'GESTCEN', 'PH_SEQ', 'GTCBSA', 'P_SEQ', 'A_LINENO',
       'PF_SEQ', 'PHF_SEQ', 'OED_TYP1', 'OED_TYP2',
       ...
       'I_DISVL1', 'I_DISVL2', 'I_SURVL1', 'I_SURVL2', 'MIG_CBST', 'MIG_DSCP',
       'DEP_STAT', 'FILEDATE', 'FILESTAT', 'MMYY'],
      dtype='object', length=799)

In [10]:
df.head()

,PERIDNUM,GESTCEN,PH_SEQ,GTCBSA,P_SEQ,A_LINENO,PF_SEQ,PHF_SEQ,OED_TYP1,OED_TYP2,...,I_DISVL1,I_DISVL2,I_SURVL1,I_SURVL2,MIG_CBST,MIG_DSCP,DEP_STAT,FILEDATE,FILESTAT,MMYY
0,0100069124539430801101,11,4,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,110419,5,32019
1,3999403901610020901101,11,6,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,110419,5,32019
2,9119340093206090901101,11,7,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,110419,5,32019
3,1410320300969990901101,11,8,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,110419,6,32019
4,1410320300969990901102,11,8,0,2,2,1,1,0,0,...,0,0,0,0,0,0,0,110419,5,32019

In [12]:
df_aces_some_cols = pd.read_csv("/Users/Ariel/Desktop/pppub19.csv", usecols= ['PERIDNUM', 'A_AGE', 'A_SEX','PRCITSHP', 'PRDTRACE', 'A_MJOCC', 'A_WKSTAT', 'ERN_SRCE', 'PTOT_R', 'MCAID', 'CAID'])

In [14]:
df_aces_some_cols.head()

,PERIDNUM,PRDTRACE,PRCITSHP,A_AGE,A_SEX,A_MJOCC,A_WKSTAT,CAID,ERN_SRCE,MCAID,PTOT_R
0,0100069124539430801101,1,1,21,1,3,4,2,1,2,8
1,3999403901610020901101,1,1,85,2,0,1,2,0,2,9
2,9119340093206090901101,1,1,61,2,3,2,2,1,2,5
3,1410320300969990901101,1,1,73,2,0,1,1,0,1,5
4,1410320300969990901102,1,1,37,1,3,4,2,1,2,5

In [16]:
print("range is", df_aces_some_cols.A_AGE.max()-df_aces_some_cols.A_AGE.min())

range is 85

In [18]:
df_aces_some_cols.A_AGE.min()

0

In [19]:
df_aces_some_cols.A_AGE.max()

85

In [20]:
df['A_AGE'].mean()

37.258305062159565

SyntaxError: invalid syntax (<ipython-input-22-1e278d99b63f>, line 1)