In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/Ariel/Desktop/cps_00001.csv')

In [3]:
df.columns

Index(['YEAR', 'SERIAL', 'MONTH', 'HWTFINL', 'CPSID', 'ASECFLAG', 'HFLAG',
       'ASECWTH', 'PERNUM', 'WTFINL',
       ...
       'HINTAKE3', 'HINTAKE4', 'HINTAKE5', 'HINTAKE6', 'HINTAKE7', 'HINTAKE8',
       'HIOFFER', 'KIDCAID', 'GOTWIC', 'KIDCNEED'],
      dtype='object', length=109)

In [9]:
df.shape

(4372482, 109)

In [10]:
df.head()

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,...,HINTAKE3,HINTAKE4,HINTAKE5,HINTAKE6,HINTAKE7,HINTAKE8,HIOFFER,KIDCAID,GOTWIC,KIDCNEED
0,2009,1,3,NaN,20071202814500,1.0,NaN,534.34,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2009,1,3,NaN,20071202814500,1.0,NaN,534.34,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2,2009,2,3,NaN,20071202885100,1.0,NaN,546.24,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
3,2009,2,3,NaN,20071202885100,1.0,NaN,546.24,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,2009,3,3,NaN,20071202862500,1.0,NaN,287.76,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [7]:
df['HINTAKE4'].count()

1288125

In [21]:
oh_nine_df = df[df.YEAR == 2009]

In [22]:
oh_nine_df['HINTAKE4'].count()

0

In [23]:
ten_df = df[df.YEAR == 2010]

In [24]:
ten_df['HINTAKE4'].count()

0

In [25]:
eleven_df = df[df.YEAR == 2011]

In [26]:
eleven_df['HINTAKE4'].count()

0

In [27]:
twelve_df = df[df.YEAR == 2012]

In [28]:
twelve_df['HINTAKE4'].count()

0

In [29]:
thirteen_df = df[df.YEAR == 2013]

In [30]:
thirteen_df['HINTAKE4'].count()

0

In [31]:
fourteen_df = df[df.YEAR == 2014]

In [32]:
fourteen_df['HINTAKE4'].count()

199556